includes:
        - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 5
    paths:
        - src
        - tests

    excludePaths:
        - src/Data/WSFormDataSource.php # Disable once we can source WS Forms in CI.

    scanDirectories:
        - vendor/gravityforms/gravityforms # Gravity Forms has no `autoload` section, so we need to configure the path.

    scanFiles:
        - datakit.php
        - phpstan-stubs/wordpress.php.stub # Scanned because as a stub this file does not work.

#    ignoreErrors:
#        -
#            message: '#Function __ invoked with 2 parameters, 1 required.#'
#            path: src/Data/WPUserDataSource.php
