includes:
        - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests

    scanDirectories:
        # - '<your-path-to-gravityforms>'

    scanFiles:
        - datakit.php
